/MicroDesktop.identcache
/MicroDesktop.res
/ProjectGroup1.groupproj
/ProjectGroup1.groupproj.local
/Win32
/MicroDesktop.dproj.local

/ProjectGroup3.groupproj
/ProjectGroup3.groupproj.local

/PurpleWind.identcache
/FileManager.identcache
/FileManager.dproj.local
